<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cadastro de Funcionário</title>
</head>

<body>
	<main>
		<div class="row py-5">
			<div class="col-sm-12">
				<div class="card">
					<form method="POST" th:object="${funcionario}" th:action="@{/funcionarios/cadastrar}">
						<div class="card-body">
							<fieldset>
								<legend>Dados Pessoais</legend>

<!--								<input type="hidden" th:field="*{id}">-->

								<div class="row my-2">
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="nome">Nome</label>
											<input type="text" class="form-control" placeholder="Nome do funcionario"
												th:field="*{nome}" required>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="cpf">CPF</label>
											<input type="text" class="form-control" placeholder="999.999.999-99"
												th:field="*{cpf}" id="inputCpf" onkeyup="formataCPF(event)"
												minlength="14" maxlength="14" required>
										</div>
									</div>
								</div>
									<p>Sexo: </p>
								<div class="col-sm-12 d-flex ">
									<div class="form-check px-3">
										
										<input class="form-check-input" type="radio" name="sexo" id="gridRadios1"
											th:field="*{sexo}" value="Masculino" checked="true" required="true">
										<label class="form-check-label" for="gridRadios1">
											Masculino
										</label>
									</div>
									<div class="form-check px-3">
										<input class="form-check-input" type="radio" name="sexo" id="gridRadios2"
											th:field="*{sexo}" value="Feminino">
										<label class="form-check-label" for="gridRadios2">
											Feminino
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="sexo" id="gridRadios3"
											th:field="*{sexo}" value="Outro">
										<label class="form-check-label" for="gridRadios3">
											Outro
										</label>
									</div>
								</div>

								<div class="row my-2">
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="telefone">Telefone</label>
											<input type="text" class="form-control" placeholder="(11) 99999-9999"
												th:field="*{telefone}" id="inputTel" onkeyup="formataTEL(event)"
												minlength="14" maxlength="15" required>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="email">E-mail</label>
											<input type="email" class="form-control" placeholder="email@exemplo.com"
												th:field="*{email}">
										</div>
									</div>
								</div>

								<div class="row my-2">
									<div class="col-md-4 col-sm-12">
										<div class="form-group">
											<label for="dataNascimento">Data de Nascimento</label>
											<input type="date" class="form-control" th:field="*{dataNascimento}">
										</div>
									</div>
									<div class="col-md-4 col-sm-12">
										<div class="form-group">
											<label for="dataAdmissao">Data de Admissão</label>
											<input type="date" class="form-control" th:field="*{dataAdmissao}">
										</div>
									</div>
									<div class="col-md-4 col-sm-12">
										<div class="form-group">
											<label for="dataDemissao">Data de Demissão</label>
											<input type="date" class="form-control" th:field="*{dataDemissao}">
										</div>
									</div>
								</div>

								<div class="row my-2">
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>Cargo</label>
											<select th:field="*{cargo}" class="form-select" style="width: 100%;">
												<option th:each="cargo : ${cargos}" th:text="${cargo.nome}"
													th:value="${cargo.id}">Desenvolvedor(a) Front End</option>
											</select>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
					                  <div class="form-group">
					                    <label for="salario">Salario</label>
					                    <input type="text" class="form-control" id="salario" th:field="*{salario}" 
					                    th:onKeyPress="return(moeda(this,'.',',',event))">
					                  </div>
					                </div>
								</div>
							</fieldset>

							<div class="row my-2">
								<div class="col-sm-12">
									<div class="form-group ">
										<label for="senha">Senha</label>
										<input type="password" class="form-control" th:field="*{senha}" id="inputSenha">
									</div>
								</div>
								<div class="col-md-6">
									<input class="col-1 form-check-input" type="checkbox" id="verSenha"
										onclick="mostrarSenha()">
									<label class="col form-check-label" for="verSenha">Mostrar senha</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
								</div>
							</div>




						</div>
						<!-- /.card-body -->

						<div class="mx-3 py-2">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

</body>

</html>