<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout (title, content, styles, scripts)" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Area de administração do site libras academy" />
	<meta name="author" content="Squad--19" />
	<title>Libras Academy - ADM <th:block th:include="*{title}"> Dashboard </th:block>
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	
		<script th:src="@{/js/script.js}"></script>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<div class="margem-conteudo d-block m-auto">
		<nav th:replace="~{fragments/_navbar :: nav}"></nav>
		
		<div th:replace="~{fragments/_header :: content-header (${title})}">			
		</div>
		<div th:replace="~{fragments/_sidenav :: sidenav}"></div>

		<!-- Main-->
		<section class="content m-auto" >
			<div class="container" th:insert="${content}">

			</div><!-- /.container-fluid -->
		</section>
		<footer class="container" th:replace="~{fragments/_footer :: footer}"></footer>
		
	<!-- VLibras -->
	<div th:replace="~{fragments/_vlibras :: vlibras}"></div>
	<!-- VLibras end -->
	</div>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>

</body>

</html>