<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lista de Alunos</title>
</head>

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="p-0">
						<div class="card-body table-responsive p-0">
							<table class="table table-hover table-striped text-nowrap">
								<thead class="table-dark w-100">
									<tr>
										<th>ID</th>
										<th>Nome</th>
										<th>E-mail</th>
										<th>CPF</th>
										<th>Telefone</th>
										<th>Sexo</th>
										<th class="text-center" colspan="2" sec:authorize="hasAuthority('ADMIN')">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="aluno : ${alunos}">
										<td th:text="${aluno.id}">01</td>
										<td th:text="${aluno.nome}">Nome completo</td>
										<td th:text="${aluno.email}">email@email.com</td>
										<td th:text="${aluno.cpf}">000.000.000-00</td>
										<td th:text="${aluno.telefone}">(84) 99999-9999</td>
										<td th:text="${aluno.sexo}">Masculino, Feminino, Outro</td>

										<td class="text-center align-items-center" sec:authorize="hasAuthority('ADMIN')">
											<div class="btn-group align-items-center">
												<a type="button" class="btn btn-primary"
													th:href="@{/alunos/{id} (id=${aluno.id})}">
													<i class="bi bi-eye"></i>
												</a>
												<a type="button" class="btn btn-warning"
													th:href="@{/alunos/{id}/editar (id=${aluno.id})}">
													<i class="bi bi-pencil-square"></i>
												</a>
												<a type="button" class="btn btn-danger"
													th:href="@{/alunos/{id}/excluir (id=${aluno.id})}"
													onclick="return confirm('Tem certeza que deseja excluir o aluno?');">
													<i class="bi bi-trash"></i>
												</a>
											</div>
										<td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</main>

</body>

</html>