<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cadastro de Cursos para Alunos</title>
</head>

<body>
	<main>
		<div class="row py-5">
			<div class="col-sm-12">
				<div class="card">
					
					<form id="formCad" method="POST" th:object="${cursoAluno}" th:action="@{/cursoAndamento/cadastrar}">
						<div class="card-body">
							<fieldset>
								<legend>Dados</legend>

								<div class="row my-2">
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="alunoId">Nome do Aluno</label>
											<select id="alunoId" th:field="*{aluno}" class="form-select" style="width: 100%;">
												<option th:each="aluno : ${alunos}" th:text="${aluno.nome}"
													th:value="${aluno.id}"> - <span th:text="${aluno.cpf}"></span></option>
											</select>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="curso">Nome do Curso</label>
											<select id="curso" th:field="*{curso}" class="form-select" style="width: 100%;">
												<option th:each="curso : ${cursos}" th:text="${curso.nomeCurso}"
													th:value="${curso.id}">Curso</option>
											</select>
										</div>
									</div>
								</div>


							</fieldset>
						</div>

						<div class="mx-3 py-2">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

</body>

</html>