<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cursos em andamento</title>
</head>

<body>
	<main>
		<div class="row pb-5 mb-5">
			<div class="col-sm-12">
				<div class="card">

					<div class="card-body table-responsive p-0">
						<table class="table table-hover table-striped text-nowrap">
							<thead class="table-dark">
								<tr>
									<th>Matricula</th>
									<th>Curso</th>
									<th>Aluno</th>
									<th>Cpf</th>
									<th colspan="2" sec:authorize="hasAuthority('ADMIN')">Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each=" ca : ${curso_andamento}">
									<td th:text="${ca.matricula}"></td>
									<td th:text="${ca.curso.nomeCurso}"></td>
									<td th:text="${ca.aluno.nome}"></td>
									<td th:text="${ca.aluno.cpf}"></td>

									<td class="text-center align-items-center" sec:authorize="hasAuthority('ADMIN')">
										<div class="btn-group">

											<a type="button" class="btn btn-warning"
												th:href="@{/cursoAndamento/{id}/editar (id=${ca.matricula})}">
												<i class="bi bi-pencil-square"></i>
											</a>
											<a type="button" class="btn btn-danger"
												th:attr="data-url=@{/cursoAndamento/{id}/excluir (id=${ca.matricula})}"
												onclick="confirmDelete(event, '${ca.matricula}');">
												<i class="bi bi-trash"></i>
											</a>
										</div>
									<td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>


</body>

</html>